/* Color palette: */
:root {
    /* BASIC: */
    --white: #eae8e3;
    --gray: #b1a99f;
    --rose-red: #ef5552;
    --yellow: #cda160;
    --black: #302b2c;

    /* OPTIONAL: */
    --scarlet: #c5221f;
    --green: #74816f;
    --blue: #5963a4;
    --gold: #be8a3c;
    --gray-200: #dfdfdf;
    --gray-400: #c9c3bb;
}

/* Global properties: */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Body properties: */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

/* Header->NAVBAR properties: */
header {
    width: 100%;
}

.navbar {
    z-index: 5;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: var(--rose-red);
    box-shadow: 0px 0px 15px var(--gray);
}
.navbar a {
    height: 48px;
}
.navbar a img {
    width: 48px;
    filter: brightness(10);
}

.navigation {
    display: flex;
    list-style-type: none;
}

.nav-item {
    padding: 0 2rem;
    height: 5rem;
    transition: all 0.3s ease-out;
}
.nav-item a {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.nav-item:hover { /* ANIMATION 01: */
    background-color: var(--white);
}
.nav-item:hover a {
    color: var(--rose-red);
    transition: all 0.1s ease-out;
}

.nav-item:active { /* ANIMATION 02: */
    background-color: var(--rose-red);
}
.nav-item:active a {
    color: var(--white);
    font-size: 18px;
}

/* Header->HERO properties: */
.hero {
    display: flex;
    flex-direction: row;
    margin: 5rem 0 0 0;
    align-items: center;
}

/* Header->Hero->Image properties: */
.hero-image {
    display: flex;
    position: relative;
    height: 87vh;
}
.hero-image img {
    width: 55vw;
    object-fit: cover;
}
.hero-image .mask-gradient {
    display: flex;
    position: absolute;
    right: 0;
    width: 100%;
    height: 87vh;
    background-image: linear-gradient(90deg, #ffffff00, var(--white));
}

/* Header->Hero->Text properties: */
.hero-text {    
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 4rem 0 4rem 45vw;
    gap: 4rem;
}

.hero-text .title-area {
    color: var(--black);
    text-align: left;
}
.hero-text .title-area h1 {
    font-size: 4rem;
    width: fit-content;
}
.hero-text .title-area h2 {
    margin-top: 0.5rem;
    width: fit-content;
}

.paragraph-container {
    display: flex;
    flex-direction: column;
    color: var(--black);
    gap: 1rem;
}

.paragraph {
    width: 705px;
    line-height: 0.85cm;
    font-weight: 500;
    font-size: 20px;
}

/* Header->...->ACCOUNT-ENTRY-AREA properties: */
.account-entry-area {
    display: flex;
    padding: 1.5rem 1rem;
    width: fit-content;
    gap: 1rem;
    background-color: var(--gray-200);
    color: var(--black);
    border: 1px solid var(--gray);
    border-radius: 1rem;
}
.account-entry-area label {
    display: inline-block;
}

.login-container, .register-container {
    display: flex;
    flex-direction: column;
    width: 225px;
    gap: 0.8rem;
    text-align: center;
    line-height: 0.65cm;
}
.register-container {
    margin-right: 0.25rem;
}

.button-login, .button-register {
    align-self: center;
    width: 175px;
    height: 50px;
    background-color: var(--gray-200);
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.1s ease-out;
}
.button-login {
    color: var(--blue);
    border: 2px solid var(--blue);
}
.button-register {
    color: var(--yellow);
    border: 2px solid var(--yellow);
}

.button-login:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: all 0.25s ease-out;
}
.button-register:hover {
    background-color: var(--yellow);
    color: var(--white);
    transition: all 0.25s ease-out;
}

.button-login:active, .button-register:active {
    color: var(--gray-200);
    font-size: 14px;
    transition: all 0.1s ease-out;
}

/* Main properties: */
.info-section {
    width: 100vw;
}

.discover {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    max-height: 644px;
    background-color: var(--scarlet);
    color: var(--white);
}

.discover-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 0 4rem;
    max-width: 1152px;
    gap: 3rem;
}
.discover-text .title {
    font-size: 48px;
}
.discover-text .paragraph {
    font-size: 22px;
}

.discover-image {
    display: flex;
    position: relative;
    margin-left: 43.75%;
    
}
.discover-image img {
    width: 1080px;
    height: 644px;
    object-fit: cover;
}
.discover-image .mask-gradient {
    display: flex;
    position: absolute;
    width: 65%;
    height: 644px;
    background-image: linear-gradient(90deg, var(--scarlet), #ffffff00);
}

/* Search-albums->Main properties: */
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 0 0;
    padding: 3rem;
    width: 65vw;
    min-height: 960px;
    background-color: var(--gray-200);
    color: var(--black);
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
}
.page-content .title {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.search-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.search-area .request {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    height: 150px;
}
.search-area .request .input-div {
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 35px;
}
.search-area .request .input-div input {
    padding: 0 19% 0 1.5rem;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: inherit;
    font-size: 20px;
}
.search-area .request .input-div button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 1rem;
    width: 10%;
    height: 50px;
    background: var(--blue);
    color: var(--white);
    border: none;
    border-right: 1px solid var(--blue);
    border-radius: inherit;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.15s linear;
}
.search-area .request .input-div button:hover {
    cursor: pointer;
}

.search-area .request .parameters {
    display: flex;
    justify-content: space-between;
}

.search-area .area-title {
    font-size: 2rem;
    color: var(--scarlet);
}

/* Search-albums->Main->...->Results properties: */
.search-area .results {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.results .album {
    display: flex;
    width: 100%;
    background-color: var(--gray-400);
    color: var(--black);
    border: 1px solid var(--scarlet);
    border-radius: 7px;
    transition: 0.15s ease-out;
    box-shadow: inset 0px 0px 40px var(--gray);
}
.results .album:hover {
    box-shadow: inset 0px 0px 40px var(--gray), inset 0px 0px 5px var(--rose-red);
}

.album .info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    padding: 1rem 1.5rem;
    line-break: normal;
}
.album img {
    border-radius: 5px 0 0 5px;
}

.info-box .top-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.info-box .top-section .album-title a {
    color: var(--black);
    text-decoration: none;
    font-size: 2.5rem;
    transition: 0.1s ease-out;
}
.info-box .top-section .artist-name a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.1s ease-out;
}
.info-box .top-section a:hover {
    color: var(--scarlet);
}
.info-box .top-section .other-info {
    display: flex;
    justify-content: start;
    gap: 10px;
    font-size: 1.125rem;
}

.spotify-url {
    color: var(--scarlet);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    transition: 0.1s linear;
}
.spotify-url:hover {
    font-weight: 700;
}
.spotify-url:active {
    text-decoration: underline;
}

/* Footer properties: */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
    width: 100%;
    height: 5rem;
    background-color: var(--rose-red);
    color: var(--white);
    box-shadow: 0px 0px 15px var(--gray);
}

.copyright-p {
    text-align: left;
}

.attributions {
    text-align: right;
}
.attributions a {
    color: var(--white);
}
.attributions a .strong {
    font-weight: 600;
}

.copyright-p span, .attributions a {
    display: block;
}